
body{
    background-color: #81b172;
    background-image: url("image/background.jpg");
    background-size: absolute;
    background-repeat: no-repeat;
    height: auto;
}

#dvv {
    padding-top: 300px;
}

h1{
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: rgb(16, 13, 199);
    text-transform:uppercase;
    font-size:100px;
    font-family:'Pokemon Solid', sans-serif;
    padding:30px;
    background-image: linear-gradient(90deg, yellow, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

  }

.pokeball {
    padding-top: 100px;
    width: 500px;
    height: 600px;
}

.dv, #dvv, #pokiDeck {
    display: flex;
    justify-content: center;
    height: px;
}

/* .logo {
    transition: transform 1s;
} */


image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-evenly;
    gap: 50px;
    padding-bottom: 50px;
}

.card-size {
    background-color: transparent;
}

.card {
    border: none !important;
    background-color: transparent;
    width: 360px;
    height: 405px;
    overflow: hidden;
    transform: rotateX(-25deg) rotateY(-40deg) rotateZ(-15deg) translateY(50px) translateX(-30px);
}


.photo {
    
    padding-top: 50px;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card-body {
    padding: 0px 0px 0px 45px;
}



.name {
    font-size: 20px;
    font-weight: 600
}


.zone {
    cursor:pointer;
    border-radius: 15px;
    border:1px solid #bbb;
    transition: all 0.3s linear;

}

.zone:hover {
    transform: rotate(0);
    z-index: 1;
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;

}


.shine:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    width: 90px;
    height: 100%;
    background: rgba(255,255,255, 0.3);
    transform: skewX(30deg);
    animation-name: slide;
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
    animation-delay: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: linear-gradient(
        to right, 
        rgba(255, 255, 255, 0.13) 0%,
        rgba(255, 255, 255, 0.13) 77%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0.0) 100%
      );
    }

    @keyframes slide {
        0% {
          left: -100;
          top: 0;
        }
        50% {
          left: 120px;
          top: 0px;
        }
        100% {
          left: 290px;
          top: 0;
        }
      }